<!-- <div class="jumbotron"> -->
  <!-- <h1>Spring Grove Arboretum</h1> -->
  <!-- <p class="lead"> -->
    <img src="images/birdseye_arboretum.jpg" class="img-responsive" alt="sample"><br>

    <br>

    <div class="panel panel-default">
      <div class="panel-body">
        <img class="center-block" src="images/donate_sample.gif" >
      </div>
    </div>
<!-- </div> -->

<div class="row marketing">
  <!-- <h4>More land on Spring Grove campus in Catonsville may be for sale</h4>
  <a target="_blank" href="http://www.baltimoresun.com/news/maryland/baltimore-county/catonsville/ph-ca-spring-grove-surplus-0528-2-20140521-story.html">link to article</a> -->
</div>
